<!DOCTYPE html>
<html>
<head>
    <title>Graph State tester</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/vis-network.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Графовые состояния: тестирование</h1>
    <div>
        <h3>Введите граф:</h3>
        <label>Вершины (через запятую): <input id="vertices" value="1,2,3,4"></label><br>
        <label>Ребра (каждая пара через пробел, например: 1-2 2-3): <input id="edges" value="1-2 2-3 3-4"></label><br>
        <button id="buildBtn">Построить состояние</button>
        <!-- <button id="checkGraphBtn">Проверить графовость</button> -->
        <button id="schmidtBtn">Вычислить ранги Шмидта</button><br>

        <a href="/check_graph">Проверить квантовое состояние на графовость</a><br>
        <a href="/check_stabilizer">Проверить квантовое состояние на стабилизаторность</a>
    </div>
    <div id="result"></div>
    <div id="schmidtResult"></div>
    <div id="graph" style="width: 600px; height: 400px; border: 1px solid lightgray;"></div>

    <script src="/static/js/script.js"></script>
</body>
</html>